@import 'mixin.scss';

/* About */
.about {
	width: 100%;
    max-width: 1240px;
	@include respond(large) {
		width: 90%;			
	}
	@include respond(small) {
		width: 100%;			
	}
}
.about-visuel {
	height: 14rem;
	overflow: hidden;
	margin: 1.2rem 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		border-radius: 15px;
		filter: brightness(50%);
	};
	@include respond(small) {
		margin: 1rem 1.5rem;
		height: 7rem;
	}
}

.tools{
	padding: 10px;
	border-radius: 60px 1%;
	border: 3px solid $color_light;
	h3{
		color: $color_title;
	}
	div {
		display: flex;
		justify-content: center;
		img{
			width: 20rem;
			height: auto;
			margin: 20px;
			border-radius: 10%;
		}
	}
}