@import 'mixin.scss';

/* About */
.about {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
	img {
	height: 30rem;
    border-radius: 48px 0 0;
    width: 40%;
    object-position: 50% 170%;
    object-fit: cover;
    background-color: #ffb700;
    mix-blend-mode: luminosity;
	}
	.about-text {
		p{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 48px 0;
		}
	}
}
