@import 'mixin.scss';

/* About */
.about {
	width: 100vw;
	display: flex;

	gap: 5%;
	height: 100vh;
	img {
	border-radius: 0 48px 0 0;
    width: 30%;
    object-position: 50% 170%;
    object-fit: cover;
    background-color: #ffb700;
    mix-blend-mode: luminosity;
	}
	.about-text {
		p{
			margin: 48px 0;
		}
	}
}
