@import 'mixin.scss';

/* About */
.about {
	width: 100vw;
	display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
    		"picture text ."
    		"picture text void"
    		"picture text ."; 
		gap: 5px 5px;
	overflow-y: hidden;
	height: 100vh;
	img {
		grid-area: picture;
    	height: 100%;
    	width: 90%;
    	object-position: 50% 170%;
    	object-fit: cover;
    	background-color: #ffb700;
    	mix-blend-mode: luminosity;
		border-radius: 0 48px 0 0;
		@include respond (smaller) {
			width: 90%;
    		object-position: 40%;
		}
	}
	.about-text {
		grid-area: text;
		h3, a{
			@include respond (smaller) {
				font-size: 2em;
			}
			@include respond (medium) {
				font-size: 1.6em;
			}
		}
		p{
			margin: 48px 0;
			@include respond (medium) {
				font-size: 1.5em;
			}
			@include respond (smaller) {
				font-size: 1.5em;
			}
		}
	}
}
