@import 'variable.scss';
@import 'mixin.scss';

/* Header */
header {
	padding: 30px 0 30px;	
	width: 90%;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 20px;
		.left {
			img{
				height: 60px;
				@include respond(medium) {
					height: 46.88px;
				}
			}
			
		}
	}
	button {
		background: none;
		border: none;
		cursor: pointer;
	}
	  
	nav img {
		height: 46.88px;
		
		@include respond(medium) {
			height: 38px;
		}
	}
	
	ul {
		padding: 0;
		list-style: none;
		display: flex;
			align-items:center;
		gap: 4vw;
		@include respond(small) {
			gap: 0.5em;
		}
		.lang{
			margin: 5px;
			font-size: larger;
			min-width: 50px;
			&:hover{
				cursor: pointer;
			}
			@include respond(medium) {
				font-size: 2em;
			}
			@include respond(smaller) {
				font-size: 3em;
			}
			@include respond(small) {
				font-size: 2.5em;
			}
		}
	}
	
	a {
		text-decoration: none;
	}
	a.active {
		text-decoration: underline;
	}
	.liens-header {
		font-size: 24px;
		img{
            &:hover{
                cursor: pointer;
            }
        }
		&:hover {
			text-decoration: underline;
		}
		@include respond(medium) {
			font-size: 1rem;
		}
		@include respond(small) {
			font-size: 14px;
		}	
	}
	@include respond(small) {
		padding: 0.7rem 1rem;
	}
	  
}