@import 'variable.scss';
@import 'mixin.scss';

/* Home */
.Home{
    max-width: 1240px;
	display: flex;
	flex-direction: column;
	@include respond(smaller) {
		margin: 1rem;
	}
}

.intro {
	margin: 100px 0 0;
	display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	gap: 20px;
	@include respond(smaller) {
		align-items: flex-start;
	}
}

.Home-link {
	display: flex;
		justify-content: space-around;
	gap: 50px;
	@include respond(smaller) {
		flex-direction: column;;
	}
}
