@import 'variable.scss';
@import 'mixin.scss';

/* Home */
.Home{
    max-width: 1240px;
	display: flex;
	flex-direction: column;
	@include respond(smaller) {
		margin: 1rem;
	}
}

.intro {
	margin: 12vh 0 0;
	font-size: x-large;
	display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	gap: 20px;
	@include respond (medium) {
		font-size: large;
	}
	@include respond(smaller) {
		font-size: medium;
		align-items: flex-start;
	}
	@include respond (small) {
		font-size: smaller;
	}
}

.Home-link {
	display: flex;
		justify-content: space-around;
	gap: 50px;
	@include respond(smaller) {
		flex-direction: column;
		font-size: 18px;
		gap: 1rem;
	}
}
