@charset "UTF-8";
/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
.light {
  background-color: #E7D1BB;
  color: #194058;
}
.light h3 {
  color: #005e74;
}
.light h3:hover {
  color: #575757;
}
.light a {
  color: #005e74;
  text-decoration-color: #005e74;
}
.light a:hover {
  color: #575757;
  text-decoration-color: #575757;
}
.light .menu-link a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s;
}
.light .menu-link a::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 5%;
  left: -2%;
  bottom: 0;
  background-color: #005e74;
  transition: all ease 0.3s;
  z-index: 1;
  border-radius: 8px;
}
.light .menu-link a h1 {
  position: relative;
  z-index: 2;
}
.light .menu-link a:hover {
  color: #E7D1BB;
}
.light .menu-link a:hover::after {
  height: 100%;
}
.light #logo {
  transition: filter 0.3s ease;
}
.light #logo:hover {
  filter: drop-shadow(0 0 20px #023047);
}
.light .liens-header {
  color: #005e74;
  transition: filter 0.3s ease;
}
.light .liens-header:hover {
  color: #023047;
  filter: drop-shadow(0 0 20px #005e74);
}
.light .right button {
  color: #194058;
}

.dark {
  background-color: #194058;
  color: #f4d398;
}
.dark h1 {
  color: #ffd174;
}
.dark h2 {
  color: #d3f1ff;
}
.dark h3 {
  color: #E8CD72;
}
.dark a {
  color: #E8CD72;
  text-decoration-color: #E8BE72;
}
.dark button {
  color: #72E0E8;
}
.dark footer {
  background-color: #023047;
}
.dark footer p {
  color: #d3f1ff;
}
.dark .liens-header {
  color: #ffc941;
  transition: filter 0.3s ease;
}
.dark .liens-header:hover {
  color: #ffc941;
  filter: drop-shadow(0 0 20px #ffc941);
}
.dark .right button {
  color: #e8ae41;
}
.dark form {
  border-color: #0D6A87;
}
.dark form input {
  box-shadow: 2px 2px 10px #0D6A87, -2px -2px 10px #023047;
  color: #E8CD72;
}
.dark form input:focus ~ label, .dark form input:valid ~ label {
  background: #07475A;
  color: #E8BE72;
}
.dark form label {
  color: #72E0E8;
}
.dark form textarea {
  caret-color: #E8BE72;
  border: 1px solid #023047;
  box-shadow: 2px 2px 10px #0D6A87, -2px -2px 10px #023047;
  background: #023047;
  color: #E8CD72;
}
.dark form textarea::placeholder {
  color: #72E0E8;
}
.dark form textarea:is(:focus, :valid) {
  border: 2px solid #E8CD72;
}
.dark form button {
  color: #023047;
  background: #E8CD72;
  background: linear-gradient(90deg, #E8CD72 0%, #e8ae41 100%);
  box-shadow: 2px 2px 4px #e8ae41;
}
.dark form button::before {
  box-shadow: 0 0 20px #e8ae41;
}
.dark form button:hover, .dark form button:focus {
  background: linear-gradient(90deg, #e8ae41 0%, #E8CD72 100%);
}
.dark form button::after {
  border: 2px solid #E8BE72;
}
.dark .menu-link a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s;
}
.dark .menu-link a::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 5%;
  left: -2%;
  bottom: 0;
  background-color: #E8CD72;
  transition: all ease 0.3s;
  z-index: 1;
  border-radius: 8px;
}
.dark .menu-link a h1 {
  position: relative;
  z-index: 2;
}
.dark .menu-link a h1:hover {
  color: #07475A;
}
.dark .menu-link a:hover::after {
  height: 100%;
}

.noise {
  position: fixed;
  z-index: 2;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url("../assets/noise.png");
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.25;
  pointer-events: none;
}

@-webkit-keyframes grain {
  0%, to {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%, to {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#root ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 100%;
}
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 0.7rem;
  }
}

/* About */
.about {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "picture text ." "picture text void" "picture text .";
  gap: 5px 5px;
  overflow-y: hidden;
  height: 100vh;
}
.about img {
  grid-area: picture;
  height: 100%;
  width: 90%;
  object-position: 50% 170%;
  object-fit: cover;
  background-color: #ffb700;
  mix-blend-mode: luminosity;
  border-radius: 0 48px 0 0;
}
@media (max-width: 425px) {
  .about img {
    width: 90%;
    object-position: 40%;
  }
}
.about .about-text {
  grid-area: text;
}
@media (max-width: 425px) {
  .about .about-text h3, .about .about-text a {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  .about .about-text h3, .about .about-text a {
    font-size: 1.6em;
  }
}
.about .about-text p {
  margin: 48px 0;
}
@media (max-width: 768px) {
  .about .about-text p {
    font-size: 1.5em;
  }
}
@media (max-width: 425px) {
  .about .about-text p {
    font-size: 1.5em;
  }
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
/* Error */
.conteneur-error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 9rem;
}
@media (max-width: 375px) {
  .conteneur-error {
    margin: 5rem;
  }
}

.image-error img {
  width: 25rem;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 375px) {
  .image-error img {
    width: 12.5rem;
    margin: 4rem 4rem 2rem 4rem;
  }
}

.titre-error h2 {
  color: #f4d398;
}
@media (max-width: 375px) {
  .titre-error h2 {
    margin: 2rem;
  }
}

.link-error {
  margin: 2rem 0 4rem 0;
}
.link-error a {
  color: #005e74;
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
/* Footer */
footer {
  width: 100%;
  background-color: #E7D1BB;
  margin-top: auto;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 0;
}
.footer p {
  margin: 0.5em;
  font-size: medium;
}
@media (max-width: 768px) {
  .footer {
    margin-top: auto;
  }
}

.icons {
  display: inline-flex;
  margin: 1rem 0 0.5rem 0;
}
.icons a {
  margin: 0 25px;
  text-decoration: none;
  display: block;
  position: relative;
}
.icons a .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
@media (max-width: 375px) {
  .icons a .layer {
    width: 45px;
    height: 45px;
  }
}
.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px dashed;
  border-radius: 5px;
  transition: all 0.3s;
}
.icons a .layer span.fab {
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
@media (max-width: 375px) {
  .icons a .layer span {
    border: unset;
  }
}
.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span, .icons a:nth-child(1) .text {
  color: #E8CD72;
  border-color: #E8CD72;
}
.icons a:nth-child(2) .layer span, .icons a:nth-child(2) .text {
  color: #72E0E8;
  border-color: #72E0E8;
}
.icons a:nth-child(3) .layer span, .icons a:nth-child(3) .text {
  color: #E8CD72;
  border-color: #E8CD72;
}
.icons a:nth-child(4) .layer span, .icons a:nth-child(4) .text {
  color: #2867B2;
  border-color: #2867B2;
}
.icons a:nth-child(5) .layer span, .icons a:nth-child(5) .text {
  color: #ff0000;
  border-color: #ff0000;
}
.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #E8CD72;
}
.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #72E0E8;
}
.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #E8CD72;
}
.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #2867B2;
}
.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #ff0000;
}
.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons a:hover .text {
  bottom: -35px;
  opacity: 1;
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
/* Header */
header {
  padding: 30px 0 30px;
  width: 90%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
header nav .left img {
  height: 60px;
}
@media (max-width: 768px) {
  header nav .left img {
    height: 46.88px;
  }
}
header button {
  background: none;
  border: none;
  cursor: pointer;
}
header nav img {
  height: 46.88px;
}
@media (max-width: 768px) {
  header nav img {
    height: 38px;
  }
}
header ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4vw;
}
@media (max-width: 375px) {
  header ul {
    gap: 0.5em;
  }
}
header ul .lang {
  margin: 5px;
  font-size: larger;
  min-width: 50px;
}
header ul .lang:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  header ul .lang {
    font-size: 2em;
  }
}
@media (max-width: 425px) {
  header ul .lang {
    font-size: 3em;
  }
}
@media (max-width: 375px) {
  header ul .lang {
    font-size: 2.5em;
  }
}
header a {
  text-decoration: none;
}
header a.active {
  text-decoration: underline;
}
header .liens-header {
  font-size: 24px;
}
header .liens-header img:hover {
  cursor: pointer;
}
header .liens-header:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  header .liens-header {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  header .liens-header {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 0.7rem 1rem;
  }
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
/* Home */
.Home {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 425px) {
  .Home {
    margin: 1rem;
  }
}

.intro {
  margin: 12vh 0 0;
  font-size: x-large;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .intro {
    font-size: large;
  }
}
@media (max-width: 425px) {
  .intro {
    font-size: medium;
    align-items: flex-start;
  }
}
@media (max-width: 375px) {
  .intro {
    font-size: smaller;
  }
}

.Home-link {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media (max-width: 425px) {
  .Home-link {
    flex-direction: column;
  }
}

.menu-link {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.menu-link a {
  margin: 1rem;
}
@media (max-width: 768px) {
  .menu-link {
    font-size: x-large;
  }
}
@media (max-width: 425px) {
  .menu-link {
    margin-top: 10vh;
  }
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
.works-title {
  margin: 0 0 60px;
  font-size: 1.5em;
}
@media (max-width: 1024px) {
  .works-title {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .works-title {
    font-size: 2em;
    margin: 0 0 1em;
  }
}

.works {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 20px;
  min-width: 50vw;
}
.works figure {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.works figure img {
  width: 25rem;
  border-radius: 10% 1%;
}
@media (max-width: 1024px) {
  .works figure img {
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .works figure img {
    width: 22rem;
  }
}
@media (max-width: 425px) {
  .works figure img {
    width: 13rem;
  }
}
@media (max-width: 768px) {
  .works figure {
    flex-direction: column-reverse;
  }
}
.works figure h3 {
  font-size: 1.17em;
}
@media (max-width: 768px) {
  .works figure h3 {
    font-size: 2em;
  }
}
@media (max-width: 425px) {
  .works figure h3 {
    font-size: 1.8em;
  }
}
.works::-webkit-scrollbar {
  display: none;
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
.project {
  display: flex;
  gap: 1rem;
  overflow: auto;
  width: 100vw;
}
@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }
}
.project .project-info {
  margin-left: 1rem;
}
@media (max-width: 1024px) {
  .project .project-info {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .project .project-info {
    font-size: 0.8rem;
  }
}
.project .project-info h2 {
  margin-bottom: 1rem;
}
.project .project-info h3 {
  margin-bottom: 0.5rem;
}
.project .project-info p {
  margin-bottom: 0.5rem;
}

.image-container {
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery {
  display: flex;
  border-radius: 8px 0;
  overflow-x: hidden;
}
@media (max-width: 375px) {
  .gallery {
    border-radius: 0px;
  }
}
.gallery img {
  height: 80vh;
}
@media (max-width: 768px) {
  .gallery img {
    height: 50vh;
  }
}
@media (max-width: 425px) {
  .gallery img {
    height: auto;
    width: 100vw;
  }
}
@media (max-width: 375px) {
  .gallery img {
    width: 100vw;
  }
}
@media (max-width: 425px) {
  .gallery {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: column;
    height: 100vh;
  }
}

/*or?*/
/*bleu turquoise*/
/*light turquoise*/
/*light*/
/*sable*/
/* bleu foncé*/
/* vraie couleur selectionnées: */
/* vrai darkmode in preparation*/
.contact {
  border-radius: 8px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 3;
  overflow: hidden;
}
.contact .contact-title {
  margin-bottom: 2rem;
}
.contact .contact-title h3 {
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .contact .contact-title {
    margin-top: 1rem;
  }
}
@media (max-width: 425px) {
  .contact .contact-title {
    margin: 1rem;
  }
}

form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: transparent;
  border: 2px solid #d7b38e;
  border-radius: 8px;
  padding: 1rem;
}
@media (max-width: 425px) {
  form {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  form {
    width: 100vw;
    border: unset;
  }
}
form .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form button {
  width: 22rem;
  min-height: 60px;
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #72E0E8;
  background: linear-gradient(90deg, #07475A 0%, #0D6A87 100%);
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #0D6A87;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
@media (max-width: 425px) {
  form button {
    width: 18rem;
  }
}
@media (max-width: 375px) {
  form button {
    width: 90vw;
  }
}
form button::before {
  content: "";
  border-radius: 12px;
  min-width: 362px;
  min-height: 72px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
form button:hover, form button:focus {
  background: linear-gradient(90deg, #0D6A87 0%, #07475A 100%);
  transform: translateY(-6px);
}
form button:hover::before, form button:focus::before {
  opacity: 1;
}
form button::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #0D6A87;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2.5s infinite;
}
form button:hover::after, form button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.input-field {
  position: relative;
  margin: 20px 0;
}
.input-field input {
  width: 22rem;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid transparent;
  box-shadow: 2px 2px 10px #d7b38e, -2px -2px 10px #e4ccb4;
  background: transparent;
  color: #194058;
  outline: none;
}
@media (max-width: 425px) {
  .input-field input {
    width: 18rem;
  }
}
@media (max-width: 375px) {
  .input-field input {
    width: 90vw;
  }
}
.input-field input:focus {
  border: 2px solid transparent;
}
.input-field input:focus ~ label, .input-field input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 5px;
  background: #E7D1BB;
  color: grey;
  box-shadow: 20px 20px 100px transparent;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: grey;
  pointer-events: none;
  transition: 0.3s;
}

.wrapper {
  width: 22rem;
  background: transparent;
  margin-bottom: 3rem;
}
.wrapper h2 {
  color: #194058;
  font-size: 16px;
}
.wrapper textarea {
  width: 22rem;
  resize: none;
  height: 59px;
  outline: none;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  max-height: 330px;
  caret-color: grey;
  border: 1px solid white;
  box-shadow: 15px 15px 60px #d7b38e;
}
@media (max-width: 425px) {
  .wrapper textarea {
    width: 18rem;
  }
}
@media (max-width: 375px) {
  .wrapper textarea {
    width: 90vw;
  }
}
.wrapper textarea::placeholder {
  color: grey;
}
.wrapper textarea:is(:focus, :valid) {
  padding: 14px;
  border: 2px solid white;
}
.wrapper textarea::-webkit-scrollbar {
  width: 0px;
}

/*# sourceMappingURL=index.css.map */
