@import 'variable.scss';
@import 'mixin.scss';
@import 'theme.scss';
@import 'noise.scss';

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
    ul{
        list-style-type: none;
    }
}

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: auto;
	background-color: transparent;
	&::before {
		z-index: -1;
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-repeat: no-repeat;
		background-size: 200% 200%; 
		background: radial-gradient(circle 80px at var(--mouse-x) var(--mouse-y), var(--color1), var(--color2), var(--color3));
	  }
}


body {
	font-family: $font-family_1;
	font-size: 1.5rem;
	height: 100%;
	@include respond(medium) {
		font-size: 0.9rem;
	}
	@include respond(smaller) {
		font-size: 1rem;
	}

}
  

@import 'about.scss';
@import 'error.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'home.scss';
@import 'menu.scss';
@import 'works.scss';
@import 'project.scss';
@import 'contact.scss';