.menu-link {
    display: flex;
    flex-direction: column;

    margin: 2rem;
    a{
        margin: 1rem;
    }
    @include respond (medium) {
        font-size: x-large;
    }
    @include respond (smaller) {
        margin-top: 10vh;
    }
}