@import 'variable.scss';

.light {
    background-color: $background-color_light;
    color: $color_blue;

    h3 {
        color: $color_paragraph;
        &:hover{
            color: $color_dark_grey;
        }
	}
    a {
        color: $color_paragraph;
        text-decoration-color: $color_paragraph;
        &:hover{
            color: $color_dark_grey;
            text-decoration-color: $color_dark_grey;
        }
    }
    .menu-link {
        a {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 0 1px;
            transition: color ease 0.3s;
            &::after {
                content: '';
                position: absolute;
                width: 104%;
                height: 5%;
                left: -2%;
                bottom: 0;
                background-color: $color_paragraph;
                transition: all ease 0.3s;
                z-index: 1;
                border-radius: 8px ;
            }
            h1 {
                position: relative;
                z-index: 2;
            }
            &:hover {
                color: $background-color_light;
                &::after {
                    height: 100%;
                }
            }
        }
    }
    
    #logo{
            transition: filter 0.3s ease;
            &:hover{
                filter: drop-shadow(0 0 20px $background-color_darker);
            }   
    }
    .liens-header {
		color: $color_paragraph;
        transition: filter 0.3s ease;
		&:hover {
			color: $background-color_darker;
            filter: drop-shadow(0 0 20px $color_paragraph);
        }
    }
}
  
.dark {
    background-color: $background-color_dark;
    color: $color_light;
    h1 {
        color: $color_gradient_gold;
    }
    h2 {
        color: $color_paragraph_dark;
    }
    h3 {
        color: $background-color_lightgold;
	}
    a {
        color: $background-color_lightgold;
        text-decoration-color: $background-color_lightgolder;
    }
    button{
        color: $background-color_sea;
    }
    footer {
        background-color: $background-color_darker;
        p { 
            color: $color_paragraph_dark;
        }
    }
    .liens-header {
		color: $color_paragraph_dark;
		&:hover {
			color: $color_flash_gold;
        }
    }
    form {
        border-color: $background-color_darksea;
        input {
            box-shadow: 2px 2px 10px $background-color_darksea, -2px -2px 10px $background-color_darker;
            color: $background-color_lightgold;
            &:focus ~ label, &:valid ~ label{
                background: $background-color_darkersea;
                color: $background-color_lightgolder;
            }
        }
        label {
            color: $background-color_sea;
        }
        textarea {
            caret-color: $background-color_lightgolder;
            border: 1px solid $background-color_darker;
            box-shadow: 2px 2px 10px $background-color_darksea, -2px -2px 10px $background-color_darker;
            background: $background-color_darker;
            color: $background-color_lightgold;
            &::placeholder{
                color: $background-color_sea;
            }
            &:is(:focus, :valid){
                border: 2px solid $background-color_lightgold;
            }
        }
        button {
            color: $background-color_darker;
            background: $background-color_lightgold;
            background: linear-gradient(90deg, $background-color_lightgold 0%, $background-color_gold 100%);
            box-shadow: 2px 2px 4px $background-color_gold;
            &::before {
                box-shadow: 0 0 20px $background-color_gold;
            }
            &:hover, &:focus {
                background: linear-gradient(90deg, $background-color_gold 0%, $background-color_lightgold 100%);
            }
            &::after {
                border: 2px solid $background-color_lightgolder;
            }
        }
    }
    .menu-link {
        a {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 0 1px;
            transition: color ease 0.3s;
            &::after {
                content: '';
                position: absolute;
                width: 104%;
                height: 5%;
                left: -2%;
                bottom: 0;
                background-color: $background-color_lightgold;
                transition: all ease 0.3s;
                z-index: 1;
                border-radius: 8px ;
            }
            h1 {
                position: relative;
                z-index: 2;
                &:hover{
                    color: $background-color_darkersea;
                }
            }
            &:hover {
                &::after {
                    height: 100%;
                }
            }
        }
    }
}