@import 'variable.scss';

.light {
    background-color: $background-color_light;
    color: $color_blue;

    h3 {
        color: $color_paragraph;
        &:hover{
            color: $color_dark_grey;
        }
	}
    a {
        color: $color_paragraph;
        text-decoration-color: $color_paragraph;
        &:hover{
            color: $color_dark_grey;
            text-decoration-color: $color_dark_grey;
        }
    }
    .menu-link {
        a {
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding: 0 1px;
            transition: color ease 0.3s;
    
            &::after {
                content: '';
                position: absolute;
                width: 104%;
                height: 5%;
                left: -2%;
                bottom: 0;
                background-color: $color_paragraph;
                transition: all ease 0.3s;
                z-index: 1;
                border-radius: 8px ;
            }
    
            h1 {
                position: relative;
                z-index: 2;
            }
    
            &:hover {
                color: $background-color_light;
    
                &::after {
                    height: 100%;
                }
            }
        }
    }
    
    #logo{
            transition: filter 0.3s ease;
            &:hover{
                filter: drop-shadow(0 0 20px $background-color_darker);
            }   
    }
    .liens-header {
		color: $color_paragraph;
        transition: filter 0.3s ease;
		&:hover {
			color: $background-color_darker;
            filter: drop-shadow(0 0 20px $color_paragraph);
        }
    }
}
  
.dark {
    background-color: $background-color_dark;
    color: $color_light;
    h1 {
        color: $color_gradient_gold;
    }
    h2 {
        color: $color_paragraph_dark;
    }
    h3 {
        color: $color_link;
	}
    a {
        text-decoration-color: $color_paragraph_dark;
    }
    footer {
        background-color: $background-color_darker;
    }
    .liens-header {
		color: $color_paragraph_dark;
		&:hover {
			color: $color_flash_gold;
        }
    }
}