$color_title: #BFA181; /*or?*/
$color_paragraph: #005e74; /*bleu turquoise*/
$color_paragraph_dark: #d3f1ff; /*light turquoise*/
$color_light_grey: #cbcbcb;
$color_dark_grey: #575757;
$color_dark_blue: #0B0F2B;
$color_light_blue: #3583b4;
$color_blue: #194058;
$color_light: #f4d398; /*sable*/
$color_link: #E7D1BB; 
$color_dark: #0a1828; /* bleu foncé*/
$color_gradient_gold:  #ffd174;
$color_flash_gold:  #ffc941;
$font-family_1: 'Montserrat', sans-serif;

$background-color_darker: #023047;
$background-color_dark:#194058;
$background-color_light: #E7D1BB;
/* banque de couleur de couleurs*/
/* #ebe2cd; :clair sable*/
/* #194058; :bleu plus clair que celui de backgound dark*/
/* #0B0F2B; :bleu plus foncé*/