@import 'variable.scss';
@import 'mixin.scss';

.works-title{
	margin: 0 0 60px;
	font-size: 1.5em;
	@include respond(large) {
		font-size: 1.2em;
	}
	@include respond(medium) {
		font-size: 2em;
		margin: 0 0 1em;
	}
}

.works {
	display: flex;
	flex-direction: column;
	figure{
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2rem;
		img{
			width: 25rem;
			border-radius: 10% 1%;
			@include respond(large) {
				width: 20rem;
			}
			@include respond(medium) {
				width: 22rem;
			}
			@include respond(smaller) {
				width: 13rem;
			}
		}
		@include respond(medium) {
			flex-direction: column-reverse;
		}
		h3 {
			font-size: 1.17em;
			@include respond(medium) {
				font-size: 2em;
			}
			@include respond(smaller) {
				font-size: 1.8em;
			}
		}
	}
	overflow-y: auto;
	&::-webkit-scrollbar{
		display: none;
	}
	scrollbar-width: none;
	gap: 20px;
	min-width: 50vw;
}