@import 'variable.scss';
@import 'mixin.scss';

.works {
	div {
		display: flex;
		justify-content: center;
		flex-direction: column;
		fig{
			display: flex;
			align-items: center;
		}
		img{
			width: 20rem;
			height: 100%;
			margin: 20px;
			border-radius: 10% 1%;
		}
	}
}